<!DOCTYPE html><html dir="ltr" lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/icons/logo.png" type="image/x-icon">
    <title>EXCHME - Currency Exchange</title>
    <script defer="" src="/js/app.js"></script>
    <link href="/styles/app.css" rel="stylesheet"></head>

<body>
<!-- preloader start -->
<%- include('./partials/preloader') %>;

<!-- preloader end -->

<!-- scroll to top button start -->
<div class="scroll-to-top show" id="scrollToTop">
  <i class="ph ph-arrow-fat-lines-up"></i>
</div>
<!-- scroll to top button end -->

<!-- header start -->
<%- include('./partials/header') %>;

<!-- header end -->

    <!-- main start -->
    <main class="min-h-screen">

<!-- sign in section start -->
<section class="section-pt overflow-hidden bg-[url('../images/photos/authBG.png')] bg-no-repeat bg-cover">
  <div class="container section-py">
      <div class="grid xl:grid-cols-12 lg:grid-cols-2 grid-cols-1 items-center gap-x-24p gap-y-60p">
          <div class="xl:col-start-1 xl:col-end-7">
              <div class="card-1 p-32p">
                  <h3 class="text-32 text-white mb-16p">Forgot Your Password?</h3>
                  <p class="text-base text-white mb-40p">
                      Enter your email to receive a password reset link.
                  </p>
                  <form action="/forgot-password" method="POST">
                      <div class="grid grid-cols-6 gap-24p mb-16p">
                          <div class="col-span-6">
                              <label for="email" class="text-18 text-white mb-16p">Enter Your Email ID</label>
                              <input
                                  autocomplete="off"
                                  type="email"
                                  id="email"
                                  name="email"
                                  class="box-input-5 border-glass-3"
                                  placeholder="Enter Your Email..."
                                  required
                              />
                          </div>
                      </div>
                      <br>
                      <button type="submit" class="btn-md btn-primary">
                          Send Reset Link
                      </button>
                  </form> <br>
                  <a href="./sign-in" class="btn-lg btn-primary shrink-0">
                    Sign In
                    <i class="ph ph-arrow-right icon-20"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- sign in section end -->


    </main>
    <!-- main end -->
          <!-- footer one start -->
          <%- include('./partials/footer') %>;

            <!-- footer one end -->



    <% if (locals.showAlert) { %>
        <script>
          window.onload = function () {
            const preloader = document.querySelector('.preloader');
            preloader.style.display = 'none'; 
            Swal.fire({
              title: '<%= alertType === "error" ? "Error!" : alertType === "warning" ? "Warning!" : "Success!" %>',
              text: '<%= alertMessage %>',
              icon: '<%= alertType %>',
            });
          };
  
        </script>
        <% } %>
</body></html>